@import 'variables';

:host {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: $med-primary;

  .radius-0 {
    border-radius: 0;
  }

  .square {
    aspect-ratio: 1 / 1;
    padding: 0.75rem;
    border-radius: 0;
    
    p {
      margin: 0;
    }
  }

  .current {
    border-left: 3px solid white;
    padding: 0.75rem 0.75rem 0.75rem calc(0.75rem - 3px);
  }
}