<div>
  <mat-toolbar
    color="primary"
    class="header"
  >
    <span>MedicalEHR</span>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav 
      mode="side"
      fixedTopGap="64"
      fixedBottomGap="0"
      [fixedInViewport]="true"
      [opened]="true"
    >
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <mat-card *ngFor="let card of [0, 1, 2, 3, 4, 5]">Simple card {{ card }}</mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <mat-toolbar
    *ngIf="false"
    color="accent"
    class="footer"
  >
    <span>Footer</span>
  </mat-toolbar>
</div>