@import 'variables';

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .accent {
    color: $med-accent;
  }
}

.footer {
  position: fixed;
  bottom: 0;
}

mat-sidenav {
  display: flex;
  flex-direction: row;
}

mat-card {
  min-height: 400px;
  margin: 1rem;
}
