@import 'variables';

.footer {
  height: 24px;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

mat-sidenav {
  display: flex;
  flex-direction: row;
}

mat-card {
  min-height: 400px;
  margin: 1rem;
}
