<div>
  <mat-toolbar
    color="primary"
    class="header"
  >
    <span>Medical<span class="accent">EHR</span></span>
  </mat-toolbar>
  
  <mat-sidenav-container autosize>
    <mat-sidenav 
      mode="side"
      fixedTopGap="64"
      fixedBottomGap="0"
      [fixedInViewport]="true"
      [opened]="true"
    >
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  <mat-toolbar
    *ngIf="false"
    color="accent"
    class="footer"
  >
    <span class="mat-caption">Footer</span>
  </mat-toolbar>
</div>